@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}

@mixin mediaQueryMax($maxWidth){
    @media only screen and (max-width:$maxWidth) {
       @content; 
    }
}