$font-stack: 16px/1 Muli, sans-serif;

/*colors*/
$primaryTheme:#001d31;
$primaryThemeText:#ffffff;
$black-two: #0f0f0f;
$white: #ffffff;
$black-three: #f7f7f7;
$purple:#5a2d56;
$black: #000000;
$black-three:#444444;
$black-four:#858585;
$Greyish:#ededed;
$red:red;
$lightPink:rgba(243,222,229,1);
$lightGreen:rgba(218,233,222,1);
$lightYellow:rgba(242,243,203,1);
$darkYellow:#ffa500;
$lightBlue:rgba(219,241,249,1);
$lightGrey:#f9f9f9;
$lightPurple:#e7eef9;
$lightOrange:#fff0ee;
$lightGreen2:#e8f9f3;
