.footer {
    background-color: $primaryTheme;
    color: $primaryThemeText;
    &_t {
        padding: 4rem 0;
        &-contact{
            color:$primaryThemeText;
            font-size: clamp(1rem, 1.2vw, 1.1rem);
        }
        &-i{
            &-icon{
                width: 40px;
                height: 40px;
                fill: $primaryThemeText;
                &.icon-phone{
                    width: 30px;
                    height: 30px;
                }
            }
            &-text{
                color: $primaryThemeText;
                line-height: 1;
                margin-left: 8px;
                font-size: clamp(0.9rem, 1vw, 1rem);
            }
        }

    }
    &_b {
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        padding: 1.2rem 0;
        font-size: 0.75rem;
    }
}
